body.header-active {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 80px;
}
.header__wrapper {
  height: 100%;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__container--blue--bg {
  background-color: #E3EDF6;
}
.header__container--grey--bg {
  background-color: #3D3F44;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__menu__hamburger {
  margin-right: 16px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .header__menu__hamburger {
    margin-right: 48px;
  }
}
.header__logo svg {
  color: #100f0d;
  width: 300px;
  height: 20px;
}

.sidebar__item {
  display: inline-block;
  background: none;
  border: 0;
  color: #fff;
  text-decoration: none;
  padding: 32px 8px 0 48px;
  width: 100%;
  text-align: left;
  font-size: rem(20);
  line-height: rem(32);
  font-weight: 400;
  width: auto;
}
.sidebar__item--active {
  font-weight: 600;
}
.sidebar__panels {
  display: flex;
  flex-direction: column;
  transition: 0.5s transform ease-out;
  transform: translateX(-100%);
  background: #1a1a1a;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 992px) {
  .sidebar__panels {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 992px) {
  .sidebar__panels {
    width: 32%;
    max-width: 505px;
  }
}
.sidebar__panels--is-visible {
  transform: translateX(0);
}
.sidebar__panels--close {
  padding: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebar__panels--close button {
  background: none;
  border: 0;
  padding: 0;
}
.sidebar__panels--close button svg {
  cursor: pointer;
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
  color: #fff;
}
.sidebar__panels--close a {
  margin: 0 0 0 24px;
}
.sidebar__panels--close a svg {
  width: 260px;
  height: 30px;
}
.sidebar__panel {
  width: 100%;
  flex-direction: column;
  display: flex;
  transform: translateX(0);
}
.sidebar__panel-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sidebar__panel-content::before {
  content: " ";
  position: absolute;
  top: rem(81);
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: #d01c2e;
  width: 8px;
}
.sidebar__panel--top-level {
  transition: 0.5s transform ease-in-out;
  flex-grow: 1;
}
.sidebar__panel--sub {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  flex-grow: 1;
}
@media screen and (min-width: 992px) {
  .sidebar__panel--sub {
    transition: 0.5s transform ease-in-out;
  }
}
@media screen and (max-width: 992px) {
  .sidebar__panel--level-two-active {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 992px) {
  .sidebar__panel--level-three-active {
    transform: translateX(-200%);
  }
}
@media screen and (min-width: 992px) {
  .sidebar__panel--second-level {
    transform: translateX(-100%);
  }
}
.sidebar__panel--second-level--active {
  transform: translateX(99.9%);
}
@media screen and (min-width: 992px) {
  .sidebar__panel--third-level {
    left: 100%;
    width: 0;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
  }
}
.sidebar__panel--third-level--active {
  transform: translateX(0);
  transition: 0.5s all ease-in-out;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .sidebar__panel--third-level--active {
    transform: translateX(100%);
  }
}
.sidebar__panel--cta {
  padding: 32px 32px 32px 48px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 32px 0 0 0;
}
.sidebar__panel--cta a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.sidebar__panel--cta a span {
  font-weight: 600;
  font-size: rem(20);
  line-height: rem(32);
}
.sidebar__panel--cta svg {
  width: rem(18);
  height: rem(18);
}
.sidebar__list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 992px) {
  .sidebar__list {
    background: #1a1a1a;
  }
}
.sidebar__list__level-one {
  background: #1a1a1a;
}
.sidebar__list__level-one button {
  outline: none;
}
@media screen and (min-width: 992px) {
  .sidebar__list__level-two {
    background: rgba(26, 26, 26, 0.9);
  }
}
.sidebar__list__level-two span {
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(32);
}
.sidebar__list__level-two .sidebar__item {
  font-size: rem(20);
  line-height: rem(32);
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .sidebar__list__level-three {
    background: rgba(26, 26, 26, 0.8);
  }
}
.sidebar__list--back-btn button {
  background: none;
  border: 0;
  color: #fff;
  transform: rotate(90deg);
  margin: 24px 0 0 24px;
  padding: 0;
}
.sidebar__item {
  font-size: rem(26);
  display: flex;
  align-items: center;
  margin: rem(32) rem(8) 0 rem(48);
  cursor: pointer;
  padding: 0;
}
.sidebar__item__arrow-icon {
  transform: rotate(270deg);
  width: rem(18);
  height: rem(18);
  margin-left: rem(24);
}

.collapse__menus {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* // background-color: green; */
}

.collapse__menus-isactive {
  display: block;
}/*# sourceMappingURL=style.css.map */